@model DAL.models.Flight

@{
    ViewData["Title"] = "Create Flight";
}

<h2 class="mb-2 text-light">Create Flight</h2>

<form asp-action="Create" method="post" class="form-control p-4">
    <div class="mb-3">
        <label asp-for="AirlineId" class="form-label" >Airline</label>
        <select asp-for="AirlineId" class="form-select" asp-items="@(new SelectList(ViewBag.Airlines, "Id", "Name"))">
            <option value="">-- Select Airline --</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="AirplaneId" class="form-label" >Airplane</label>
        <select asp-for="AirplaneId" class="form-select" asp-items="@(new SelectList(ViewBag.Airplanes, "Id", "Model"))">
            <option value="">-- Select Airplane --</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="DepartureAirportID" class="form-label" >Departure Airport</label>
        <select asp-for="DepartureAirportID" class="form-select" asp-items="@(new SelectList(ViewBag.Airports, "Id", "Name"))">
            <option value="">-- Select Departure Airport --</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="ArrivalAirportID" class="form-label" >Arrival Airport</label>
        <select asp-for="ArrivalAirportID" class="form-select" asp-items="@(new SelectList(ViewBag.Airports, "Id", "Name"))">
            <option value="">-- Select Arrival Airport --</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="DepartureTime" class="form-label">Departure Time</label>
        <input asp-for="DepartureTime" type="datetime-local" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ArrivalTime" class="form-label">Arrival Time</label>
        <input asp-for="ArrivalTime" type="datetime-local" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="BasePrice" class="form-label">Base Price</label>
        <input asp-for="BasePrice" class="form-control" type="number" step="0.01" />
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label">Flight Status</label>
        <select asp-for="Status" class="form-select">
            <option value="1">Scheduled</option>
            <option value="2">Cancelled</option>
            <option value="3">Delayed</option>
            <option value="4">Departed</option>
            <option value="5">Landed</option>
        </select>
    </div>

   
    <button type="submit" class="btn btn-success">Create Flight</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
